<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.ChatProjectMapper">
    
    <resultMap type="ChatProject" id="ChatProjectResult">
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="type"    column="type"    />
        <result property="model"    column="model"    />
        <result property="embeddingModel"    column="embedding_model"    />
        <result property="baseUrl"    column="base_url"    />
        <result property="apiKey"    column="api_key"    />
        <result property="systemPrompt"    column="system_prompt"    />
        <result property="isPdfAnalysis"    column="is_pdf_analysis"    />
        <result property="userId"    column="user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />

    </resultMap>

    <sql id="selectChatProjectVo">
        select project_id, project_name, type, model,embedding_model, base_url,api_key,system_prompt,is_pdf_analysis,
               create_by, create_time, update_by, update_time, remark from chat_project
    </sql>

    <select id="selectChatProjectList" parameterType="ChatProject" resultMap="ChatProjectResult">
        <include refid="selectChatProjectVo"/>
        <where>  
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="model != null  and model != ''"> and model = #{model}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectChatProjectByProjectId" parameterType="String" resultMap="ChatProjectResult">
        <include refid="selectChatProjectVo"/>
        where project_id = #{projectId}
    </select>

    <insert id="insertChatProject" parameterType="ChatProject" useGeneratedKeys="true" keyProperty="projectId">
        insert into chat_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="projectName != null">project_name,</if>
            <if test="type != null">type,</if>
            <if test="model != null">model,</if>
            <if test="embeddingModel != null">embedding_model,</if>
            <if test="baseUrl != null">base_url,</if>
            <if test="apiKey != null">api_key,</if>
            <if test="systemPrompt != null">system_prompt,</if>
            <if test="isPdfAnalysis != null">is_pdf_analysis,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="type != null">#{type},</if>
            <if test="model != null">#{model},</if>
            <if test="embeddingModel != null">#{embeddingModel},</if>
            <if test="baseUrl != null">#{baseUrl},</if>
            <if test="apiKey != null">#{apiKey},</if>
            <if test="systemPrompt != null">#{systemPrompt},</if>
            <if test="isPdfAnalysis != null">#{isPdfAnalysis},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateChatProject" parameterType="ChatProject">
        update chat_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="model != null">model = #{model},</if>
            <if test="embeddingModel != null">embedding_model = #{embeddingModel},</if>
            <if test="baseUrl != null">base_url = #{baseUrl},</if>
            <if test="apiKey != null">api_key = #{apiKey},</if>
            <if test="systemPrompt != null">system_prompt = #{systemPrompt},</if>
            <if test="isPdfAnalysis != null">is_pdf_analysis = #{isPdfAnalysis},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where project_id = #{projectId}
    </update>

    <delete id="deleteChatProjectByProjectId" parameterType="Long">
        delete from chat_project where project_id = #{projectId}
    </delete>

    <delete id="deleteChatProjectByProjectIds" parameterType="String">
        delete from chat_project where project_id in 
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>
</mapper>